@import 'variables';

.header {
  .header-menu {
    position: absolute;
    height: 70px;
    overflow-x: visible;
    width: 100%;
    font-weight: 500;

    .navigation {
      width: calc(100% - 0px);
      height: calc(100% - 0px);
      white-space: nowrap;
      display: inline-block;
      overflow: visible;
      position: relative;
      text-align: left;
      list-style: none;
      padding: 0;
      margin: 0;
      
      .header-menu-item {
        float: left;
        width: 66px;
        height: 70px;
        position: relative;
        box-sizing: border-box;
        overflow: visible;

        a {
          width: 62px;
          line-height: 70px;
          position: relative;
          box-sizing: border-box;
          overflow: visible;
          cursor: pointer;
          text-decoration: none;
          color: $black;
        }

        .is-active {
          color: $header-active !important;
          transition: color 0.4s ease 0s;
        }
      }
    }
  }
  .header-img {
    img {
      width: 100%;
      height: auto;
      padding-top: 70px;
    }
  }
}
